/* ページ全体に関するスタイルシート */
body{
  margin:0px;
  background-color: #2a2a2a;
  font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

body p{
  margin-bottom:0px;
  font-size:14px;
  padding:0px;
}

h2,h1{
  font-weight:500;
}

a:link:not(.btn){
  color:#3366aa;
}

a:visited:not(.btn){
  color:#338888;
}

a:hover:not(.btn){
  color:#77ffff;
}

a:active:not(.btn){
  color:#7799cc;
}

#wapper{
  background-color: #2a2a2a;
}

/* header周りのスタイルシート */
#header{
  height:4em;
  text-align:left;
  padding:1em;
  padding-left:30px;
  background-color: #5c5c5c;
  width: 100%;
  min-width: 300px;
  position: fixed;
}

#header a{
  text-decoration: none;
  transition:0.5s;
}

#header a:link{
  color:#ffffff;
}

#header a:visited{
  color:#ffffff;
}

#header a:hover{
  color:#00ebeb;
}

#header a:active{
  color:#04d9ff;
}

#header h2{
  font-size: 26px;
}

#header p{
  color:#ffffff;
}

#header ul {
  list-style: none;
}


/* footer周りのスタイルシート */
#footer{
  height:4em;
  color:#ffffff;
  text-align: left;
  background-color: #5c5c5c;
  padding: 20px;
  min-width: 300px;
  width:100%;
  margin:0px;
}

#footer .container p{
  font-size: 12px;
}

#footer h3{
  padding: 5px;
}

/* main部分周りのスタイルシート */
#main{
  background-color: #ffffff;
  background-color: #ffffff;
  padding-top:5em;
  padding-left:30px;
  padding-bottom:1em;
  min-width: 300px;
  width:100%;
  margin:0px;
}

#main h3{
  font-size: 20px;
  margin: 5px 5px 10px 0px;
  padding: 0px;
  font-weight:normal;
}

p.componentsTitle{
  font-size: 20px;

}

table{
  font-size: .875rem;
  color: #495057;
}

.table td{
  vertical-align: middle;
}

#reserveTable th:nth-child(4),#reserveTable td:nth-child(4),#reserveTable td:nth-child(9),#reserveTable th:nth-child(9){
  border-right:1px solid rgba(0,0,0,.35);
}

.form-control-sm{
  height: calc(1.5em + .4rem + 2px);
  padding: .25rem .5rem;
  color: #495057;
  border-radius: .3rem;
  border: 1px solid #ced4da;
}

.form-group{
  margin-bottom:.5rem;
  margin-top:.5rem;
}

.form-check-input{
  position:relative;
  margin-top:0;
  width:24px;			/* ボックスの横幅 */
  height:24px;			/* ボックスの縦幅 */
}

.remove-button,.add-button{
  color:#666666;
  font-size:14px;
  padding:20px 20px 20px 20px;
  text-align:center;
  position:relative;
  cursor:pointer;
  text-decoration: none;
  transition:0.25s;
}

#select-permission{
  margin-bottom:.5rem;
}