$ck-primary: #052d5d;
$ck-secondary: #0d4f78;
$ck-tertiary: #186b91;
$ck-muted: #334c66;

$ck-gray: #f4f5f7;

$ck-complementary: #666600;

$theme-colors: map-merge(
  (
    "ck-primary": $ck-primary,
    "ck-secondary": $ck-secondary,
    "ck-tertiary": $ck-tertiary,
    "ck-gray": $ck-gray,
    "ck-complementary": $ck-complementary
  ),
  $theme-colors
);
