#header{
  height:2rem;
  text-align:left;
  padding:.5rem;
  padding-left:20px;
  background-color: var(--header-color);
  width: 100%;
  white-space:nowrap;
  
}

#header-navbar {
  display: inline-block;
  width: 30px;
  vertical-align: bottom;
  margin-bottom:4px;
}

#header-title {
  display: inline-block;
  margin-left: 10px;
  vertical-align: bottom;
}

#page-title {
  color: #FFF;
  font-size: 24px;
}

#page-title a:visited, #page-title a:link {
  color: #FFF;
  text-decoration: none;
}

#page-title a:hover {
  color: var(--header-link-hover);
  transition: 0.3s;
}

#page-title a:active {
  color: var(--header-link-active);
}

#header-account {
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
  color: #ffffff;
  position: relative;
  bottom: 4px;
  left: 20px;
}

/* navbarのスタイル */
#nav-drawer {
  position: relative;
}

.nav-unshown {
  display: none;
}

#nav-open , #nav-cross{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  top: 10px;
  left: 5px;
  height: 2px;  /*線の太さ*/
  width: 18px;  /*線の長さ*/
  border-radius: 3px;
  background: rgb(222, 227, 255);
  display: block;
  content: '';
  cursor: pointer;
}

/*ハンバーガーの真ん中の線の位置*/
#nav-open span:before {
  top: 6px;
  left: 0px;
}

/*ハンバーガーの一番下の線の位置*/
#nav-open span:after {
  top: 12px;
  left: 0px;
}

/*閉じる用の背景の黒カバー*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  transition: .2s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  max-width: 330px;
  height: 100%;
  background: var(--navbar-color);
  transition: .25s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックが入ったら諸々表示*/
#nav-input:checked ~ #nav-close {
  display: block;
  transition: .2s ease-in-out;
  background-color: rgba(0,0,0,.5);
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

#nav-header {
  height:3rem;
  text-align:left;
  padding:.5rem;
  padding-left: 20px;
  border-bottom: solid .5px rgba(255, 255, 255, 0.85);
  width: calc(100% - 20px - 0.5rem);
  white-space:nowrap;
}

.cross1, .cross2{
  height: 2px;  /*線の太さ*/
  width: 22px;  /*線の長さ*/
  border-radius: 3px;
  display: block;
  content: '';
  cursor: pointer;
}

#nav-header .cross1, #nav-header .cross2 {
  position: absolute;
  top: 30px;
  background: rgb(222, 227, 255);
}

.cross1{
  transform: rotate(45deg);
}

.cross2 {
  transform: rotate(-45deg);
}

/* nav-menuの中身のスタイルシート */
.menu-block label:after {
  box-sizing: border-box;
  content: '+';
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-block label {
  color: var(--header-link-active);
  font-size: 14px;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 0;
  text-align: left;
  cursor: pointer;
  border-bottom: solid .5px rgba(255, 255, 255, 0.85);
  display: block;
}

.menu-block input {
  display: none;
}

.menu-item {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  height: 1rem;
  opacity: 1;
  padding: 1rem 2.5rem;
  font-size: 14px;
}

.menu-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}

.menu-block .menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  height: 0px;
  opacity: 0;
  padding: 0 1rem;
  transition: .2s;
  visibility: hidden;
  font-size: 14px;
}

.menu-spacer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  height: .3rem;
}

.nav-link {
  font-size: 14px;
  color: #FFF;
}

.nav-link:before {
  content: '>';
  color: #FFF;
  padding-right: 1rem;
}

/* menu-barをクリックすると諸々変化 */
.menu-bar:checked + label:after {
  content: '-';
}

.menu-bar:checked ~ .menu-item {
  height: 1rem;
  opacity: 1;
  padding: 1rem 2.5rem;
  visibility: visible;
}