body {
  background: var(--bg-color);
  margin: 0;
}

/* 文字に関するスタイル */
.tx, .tx-sm{
  font-family: sans-serif;
}
h1, h2{
  display: block;
  width: 90%;
  padding-top: 1rem;
  padding-bottom: .2rem;
  margin-bottom: .3rem;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-bottom: solid 1px #727272;
  font-weight: bold;
}
p {
  display: inline;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 767px){
  .tx {
    font-size: 14px;
  }
  .tx-sm {
    font-size: 11px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px){
  .tx {
    font-size: 16px;
  }
  .tx-sm {
    font-size: 13px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
}

/* リンクに関するCSS */
a:visited {
  color: rgb(45, 206, 218);
}

/* main部分周りのスタイルシート */
#main{
  background-color: #ffffff;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  min-width: 300px;
  width:100%;
  margin:0px;
}

#main h3{
  font-size: 20px;
  margin: 5px 5px 10px 0px;
  padding: 0px;
}