body {
  background: var(--bg-color);
  margin: 0;
  color: #212529;
}

/* 文字に関するスタイル */
.tx, .tx-sm{
  font-family: sans-serif;
}
h1, h2{
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: .1rem;
  margin-block-start: 0;
  margin-block-end: .2rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-bottom: solid 1px #727272;
  font-weight: bold;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 767px){
  .tx {
    font-size: 14px;
  }
  .tx-sm {
    font-size: 11px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px){
  .tx {
    font-size: 16px;
  }
  .tx-sm {
    font-size: 13px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
}

/* リンクに関するCSS */
/*
a:visited {
  color: rgb(45, 206, 218);
}
*/

a.btn {
  color: #ffffff;
  text-decoration: none;
}

/* main部分周りのスタイルシート */
#main{
  background-color: #ffffff;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  min-width: 300px;
  width:calc(100% - 2rem);
  margin:0px;
}

#main h3{
  font-size: 20px;
  margin: 5px 5px 10px 0px;
  padding: 0px;
}


/* grid設定 */
/*
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
div {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
* {
  grid-column: span 12;
}
*/

/* formに関するCSS */
.form-text {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
  margin-bottom: 1rem;
}

.form-block {
  position: relative;
  font-size: 12px;
  padding: 10px;
  margin: 0 0 20px 0;
  background: #fff;
  border: 1px #ccc solid;
  box-shadow: 0 2px 3px 0 #ddd;
  -moz-box-shadow: 0 2px 3px 0 #ddd;
  -webkit-box-shadow: 0 2px 3px 0 #ddd;
  border-radius:5px;
}

/*
.col-1 { grid-column: span 1;}
.col-2 { grid-column: span 2;}
.col-3 { grid-column: span 3;}
.col-4 { grid-column: span 4;}
.col-5 { grid-column: span 5;}
.col-6 { grid-column: span 6;}
.col-7 { grid-column: span 7;}
.col-8 { grid-column: span 8;}
.col-9 { grid-column: span 9;}
.col-10 { grid-column: span 10;}
.col-11 { grid-column: span 11;}
.col-12 { grid-column: span 12;}
*/

/* buttonに関するcss */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
  margin-bottom: .5rem;
}

.btn-primary:active {
  background-color: #005ec2;
  border-color: #005ec2;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:active {
  background-color: #52585e;
  border-color: #52585e;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:active {
  background-color: #ac2b38;
  border-color: #ac2b38;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:active {
  background-color: #208a39;
  border-color: #208a39;
}

.btn-filter {
  color: #6c757d;
  background-color: #FFF;
  border-color: #6c757d;
  padding: .25rem .75rem;
}

.filter-checkbox:checked + .btn-filter {
  color: #FFF;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* フォームのバリデーションに関するCSS */
.required-feedback, .format-feedback, .invalid-chars {
  display: none;
  /*color: #28a7a7;*/
  color: #f14343;
  font-size: 12px;
}

/* モーダルに関するCSS */
.modal {
  display: none;
  height: 20rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-cross{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.modal .cross1, .modal .cross2 {
  background: #6b7580;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
}

.modal-title {
  display: inline-block;
  font-size: 1rem;
}

.modal-bg {
  background: rgba(0,0,0,0.6);
  height: 100vh;
  position: absolute;
  width: 100%;
  left: -1rem;
}

.modal-content {
  background: #fff;
  left: calc(50% - 1rem);
  position: absolute;
  top: 50%;
  transform: translate(-50%,-20%);
  width: 95%;
  border-radius: .25rem;
}

.modal-header {
  width: calc(100% - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.modal-footer{
  width: calc(100% - 2rem);
  padding-top: .5rem;
  padding-left: 1rem;
}

.modal-left {
  float:left;
  width: 50%;
}

.modal-right {
  float: right;
  width: 50%;
}

.modal-left , .modal-right {
  text-align: center;
}

.modal-main {
  padding: 1rem;
  width: calc(100% - 2rem);
  max-height: 15rem;
  border-bottom: .5px solid #aaaaaa;
  border-top: .5px solid #aaaaaa;
  overflow: auto;
}

.modal form {
  margin-block-end: 0;
}

/* tableに関するcss */
table {
  background-color: #f8f7f7;
  border-collapse: collapse;
  color: #212529;
  font-size: 14px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

th { 
  background-color: #ccc;
  padding: .5rem .15rem;
  border-top: .5px solid #dee2e6;
}

th, td {
  border: .5px solid #dee2e6;
}

td {
  text-align: center;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

input.form-check-input {
  width: 16px;
  height: 16px;
}

select.select { 
  width: 100%;
  -webkit-appearance:none;
    appearance:none;
  padding: .75rem;
  box-sizing:border-box;
  font-size:1rem;
  border:#ccc 1px solid;
  border-radius:0;
  background:#fff;
}
.selectbox {
  width:90%;
  margin-top: .5rem;
  margin-bottom:.5rem;
  position:relative;
}
.selectbox::after{
  content:"";
  display:block;
  width:10px;
  height:10px;
  position:absolute;
  right:5%;
  top:35%;
  border-bottom:#333 2px solid;
  border-right:#333 2px solid;
  transform:rotate(45deg)translateY(-30%);
}

select.select-sm {
  width: 100%;
  padding: .2rem;
  box-sizing: border-box;
  font-size: 13px;
  border:#ccc 1px solid;
  border-radius: 3px;
  background:#fff;
}